.LoginPage
{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(45deg,#e8770c,#4273c8);
}
.LoginBox
{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 50%;
    align-self: center;
    background-color: #303030;
    padding: 100px 0px 100px 0px;
    justify-content: space-between;
    
}
.LoginTitle
{
    color: var(--text-color);
    font-size: 30px;
    width: 100%;
    text-align: center;
}
.InputLayer
{
    text-align: center;
    color: var(--text-color);
    font-size: 20px;
}
.SubmitButton
{
    border-color: var(--text-color);
    background-color: #303030;
    color: var(--text-color);
    width:fit-content;
    align-self: center;
    padding: 10px 15px;
    font-size: 20px;

}
.TextBox
{
    margin-left: 30px;
    background-color: #303030;
    border-color: var(--text-color);
    height: 25px;
    color: var(--text-color);
}

a
{
    color:var(--text-color);
    margin-left: 10px;
}